{% extends 'catalog/base.html' %}

{% block content %}

    <section class="py-5 text-center container">
        <div class="row py-lg-5">
            <div class="col-lg-6 col-md-8 mx-auto">
                <h1 class="fw-light">НАШИ КОНТАКТЫ</h1>
            </div>
        </div>
    </section>

    <div class="album py-5 bg-light">
        <div class="container">

            <div class="row row-cols-1 row-cols-sm-2 row-cols-md-2 g-2">
                <div class="col">
                    <div class="card shadow-sm">
                        <div class="card-body">
                            <form method="POST">
                                <h3>Hапишите нам</h3>
                                {% csrf_token %}
                                <input class="form-control mb-2" name="name">
                                <input class="form-control mb-2" name="email">
                                <textarea class="form-control mb-2" name="massage"></textarea>
                                <button type="submit" class="btn btn-primary form-control">Отправить</button>
                            </form>
                        </div>
                    </div>
                </div>

                <div class="col">
                    <div class="card border-light">
                        <div class="card-body">
                            <p class="card-text">
                                – И запомни – никогда не елозь! Главное правило человека, который управляет кораблём, –
                                не менять
                                своего решения во время выполнения манёвра. Правильное решение, неправильное – неважно.
                                Принял,
                                отринул сомнения и действуй! Хули ты там орёшь на мостике: «Правый галс, левый галс,
                                руль туда, руль
                                сюда, турбинам крутиться, турбинам не крутиться, торпеды пли, ой, бля, не пли, не пли!»
                                Что это за
                                маневрирования такие, а?</p>


                        </div>
                    </div>
                </div>


            </div>
        </div>
    </div>

{% endblock %}
